@model app1.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> Customers </h2>
@if (!Model.Customers.Any())
{
    <p>
        We don't have any customer yet!'
    </p>
}
else
{

}
<table class="table table-bordered table-hover"  > 
    <thead>
        <tr>
            <th>Customers</th>
            <th>Discount Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in Model.Customers)
        {
            <tr>                
                <td> @Html.ActionLink(customer.Name,"Details","Customer",new {id = customer.Id } , null)</td>                
                <td>@customer.MemberShipType.DiscountRate%</td>
            </tr>
        }
    </tbody>
</table>

